@import '../../styles/variables';

:host {
  display: block;
  width: 100%;
  padding: 0 10px;
  margin: 30px auto;

  h1, p, a {
    font-family: $font-primary-regular;
  }

  h1, a {
    color: $color-primary;
  }

  h1 {
    font-size: 24px;
  }

  p {
    margin: 15px 0;
    font-size: 14px;
    color: $color-secondary;
  }

  a {
    font-size: 16px;
  }
}
