<div class="modal-header">
  <h4 class="modal-title">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onClose()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">{{ body }}</div>
<div class="modal-footer text-right">
  <button type="button" class="outline" (click)="onClose()">Close</button>
</div>
