@import './variables';

@keyframes initScaleAnimation {
  0% {
    transform: rotate(0);
    box-shadow: 0 0 0 15px $bg-body;
  }
  100% {
    transform: rotate(90deg);
    box-shadow: 0 0 0 0 $bg-body;
  }
}

@keyframes initRotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(90deg);
  }
}
