@import './variables';

* {
  margin: 0;
  padding: 0;
  outline: none;
}

html {
  height: 100%;
  color: $color-secondary;
  font: 12px $font-primary-regular;

  .scrollContainer, body {
    overflow: auto;

    &::-webkit-scrollbar {
      width: 7px;
      height: 7px;
      background-color: $color-secondary;
    }

    &::-webkit-scrollbar-thumb {
      background: $color-primary;
    }
  }

  body {
    min-height: 100%;

    &.init, .init { // This class body element will have intil the app ready state
      overflow: hidden;

      &:before, &:after {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        margin: auto;
        content: "";
      }

      &:before { // The "outer" animated box
        animation: initRotateAnimation 1.25s ease-in-out infinite;
        z-index: 5;
        width: 60px;
        height: 60px;
        background: $color-primary;
        box-shadow: 0 0 3px rgba(255, 255, 255, .1);
      }

      &:after { // The "internal" animated box
        animation: initScaleAnimation 1.25s ease-in-out alternate infinite;
        z-index: 10;
        width: 20px;
        height: 20px;
        background: $bg-body;
      }

      & > * {
        opacity: 0 !important;
      }
    }

    a, a:visited {
      color: $color-primary;
      transition: color .5s, opacity .2s;

      &:hover {
        color: $color-primary-hover;
        cursor: pointer;
      }
    }

    button {
      transition: background-color .4s, opacity .4s;

      &[disabled] {
        cursor: not-allowed;
        opacity: .7;
      }

      &:not([disabled]) {
        cursor: pointer;
      }
    }

    .breakLines {
      word-break: break-word;
    }
  }
}
