@import './variables';

ngb-modal-window {
  &.show {
    display: block;
  }

  .modal-content {
    animation: toBottom .3s ease-in-out 1;
    border: 3px solid rgba(52, 65, 80, .54);
    border-radius: 0;
    box-shadow: 1px 1px 11px 0 #303b48;
    background-color: $bg-content-standard;

    .modal-header, .modal-body, .modal-footer {
      border-color: $color-secondary;
      font-family: $font-primary-regular;
    }

    .modal-header {
      & > * {
        color: $color-primary;
      }

      .modal-title {
        font-size: 16px;
      }

      .close {
        width: 40px;
        height: 40px;
        padding: 0;
        border: 0;
        font-size: 20px;
        background: transparent;
      }
    }

    .modal-body {
      color: $color-light;
    }

    .modal-footer {
      padding: 7px 1rem;

      button {
        padding: 8px 10px;
        background: transparent;
        border: 1px solid $color-primary;
        color: $color-primary;
        font-size: 12px;

        &:not([disabled]):hover {
          background: $color-primary;
          color: $color-light;
        }

        &:not(.outline) {
          background: $color-secondary;
        }

        &.left {
          float: left;
        }

        &.right {
          float: right;
        }
      }
    }
  }
}
