/* Fonts */
$font-primary-regular: Montserrat;

/* Colors */
$color-primary: #0092ee;
$color-primary-hover: #00afee;

$color-secondary: #3d4c5e;
$color-light: #fff;
$color-content: #191e26;

$color-success: #66cd4e;
$color-warning: #e6ff4b;
$color-error: #db3d3d;

$bg-content-standard: #161a21;
$bg-body: #0b0f13;
