<div class="modal-header">
  <h4 class="modal-title pull-left">{{ title }}</h4>
  <button type="button" class="close pull-right" aria-label="Close" (click)="onReject()">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
<div class="modal-body">{{ body }}</div>
<div class="modal-footer text-right">
  <button type="button" class="outline left" (click)="onReject()">No</button>
  <button type="button" class="right" (click)="onResolve()">Yes</button>
</div>
