<div class="d-flex justify-content-between align-items-stretch border-bottom">
  <div
    class="flex-grow-1"
    *ngFor="let content of html; let i = index"
    [class.border-right]="i < html.length - 1"
  >
    <div
      class="breakLines p-3"
      [innerHTML]="content?.textContent"
    ></div>
    <i
      class="fa fa-circle-o-notch fa-spin d-flex justify-content-center align-items-center p-5"
      *ngIf="!content"
    ></i>
  </div>
</div>
