<header class="d-flex justify-content-around align-items-end pb-4 border-bottom">
  <a
    title="Home"
    [routerLink]="'/'"
  >Home</a>
  <a
    title="Sync Loading"
    [routerLink]="'/sync'"
  >Sync Loading</a>
  <a
    title="Async Loading"
    [routerLink]="'/async'"
  >Async Loading</a>
</header>

<router-outlet></router-outlet>
